.table {
    background-color: rgba(45, 0, 0, .75); 
    border-radius: 10px; 
    color: white; 
}

.center {
    text-align: center; 
}

table {
    width: 100%; 
}

.welcome {
    padding: 20px; 
    font-family: 'Beer'; 
    color: #2d0000bf; 
}

#favBeers {
    font-family: 'Beer';
    padding: 15px; 
}

#googleMap {
    transition: .25s ease
}

#googleMap:hover {
    transform: scale(1.03)
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .welcome {
        font-size: 28px; 
    }

    .centerUp {
        text-align: center; 
    }

    #favoriteBrews {
        order: -1
    }

    #favBeers {
        font-size: 30px; 
    }
} 


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #favoriteBrews {
        order: -1
    }
    
    #favBeers {
        font-size: 30px; 
    }
    
    .centerUp {
        text-align: center; 
    }
} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    #favoriteBrews {
        order: -1
    }

    #favBeers {
        font-size: 30px; 
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
      #favoriteBrews {
        order: 1
    }

    .centerUp {
        text-align: left; 
    }

    #favBeers {
        font-size: 30px; 
    }
}

