.footer {
    background-color: rgba(45, 0, 0, 0.75);
    color: white; 
    padding: 15px; 
    position: absolute; 
    left: 0;
    bottom: 0;
    width: 100%;
}

.icon {
    color: white; 
    font-size: 45px; 
    transition: .25s ease; 
}
.iconx {
    transition: .25s ease; 
}
.icon:hover {
    transform: scale(1.3) rotate(15deg)
}
.iconx:hover {
    transform: scale(1.3) rotate(-15deg)
}

#name {
    font-family: 'Beer'
}

/* 
@media only screen and (max-width: 600px) {
    .icon {
        font-size: 25px; 
    }

}  */

