
body {
    background-image: url("https://stmed.net/sites/default/files/beer-wallpapers-28209-344122.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#navbarsExample10{
    background-color: rgba(212, 189, 157, 0.6);
    color: #cc8200;
    padding: 20px; 
    font-family: 'Beer';
    font-size: 31px;
}


.nav-link {
    color: white; 
    font-size: 20px; 
    transition: .25s ease
}

.nav-link:hover {
    transform: scale(1.1); 
    color: #cc8200; 
}

.navbar-toggler-icon {
    background-image: url("https://cdn4.iconfinder.com/data/icons/beer-line/100/l-23-512.png"); 
}

@font-face{
    font-family: 'Beer';
    src: url("../Images/junegull\ rg.ttf")
}

.navbar-toggler {
    font-size: 40px; 
}